################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MOBZync/bin/Debug
/MOBZync/obj
/MOBZyncSetup/Debug
